// executor and number of running jobs
executor {
    name = 'slurm'
    queueSize = 50 // This limits the number of jobs submitted to SLURM at once
}




// Process-specific configurations
process {
    withName:TRANSFER_GZ_FILES {
        clusterOptions = '--account=asteen_1130'
        queue = 'debug'
        cpus = 1
        memory = 16.GB
        time = '10m'
    }
    withName:UNZIP_FILES {
       	clusterOptions = '--account=asteen_1130'
        queue = 'debug'
        cpus = 2
        memory = 16.GB
        time = '20m'
    }
    withName:FASTQ_DUMP {
       	clusterOptions = '--account=asteen_1130'
        queue = 'debug'
        cpus = 4
        memory = 32.GB
        time = '59m'
    }
    withName:FIRST_QC {
       	clusterOptions = '--account=asteen_1130'
        queue = 'debug'
        cpus = 2
        memory = 16.GB
        time = '30m'
    }
    
    withName:TRIMMOMATIC {
        clusterOptions = '--account=asteen_1130'
        queue = 'debug'
        cpus = 4
        memory = 32.GB
        time = '55m'
    }
    withName:SECOND_QC {
        clusterOptions = '--account=asteen_1130'
        queue = 'debug'
        cpus = 2
        memory = 16.GB
        time = '30m'
    }
    withName:METASPADES {
        clusterOptions = '--account=asteen_1130'
        queue = 'main'
        cpus = 4
        memory = 128.GB
        time = '23h'
    }
    withName:METAQUAST {
        clusterOptions = '--account=asteen_1130'
        queue = 'main'
        cpus = 4
        memory = 128.GB
        time = '10h'
    }

}
