// executor and number of running jobs
executor {
    name = 'slurm'
    queueSize = 5 // This limits the number of jobs submitted to SLURM at once
}



// all process configurations
process {
    errorStrategy = 'retry'
    maxRetries = 3
}



// Process-specific configurations
process {
    withName:FIRST_QC {
       	clusterOptions = '--account=asteen_1130'
        queue = 'main'
        cpus = 16
        memory = 16.GB
        time = '1h'
    }
    withName:MULTIQC_BEFORE {
        clusterOptions = '--account=asteen_1130'
        queue = 'main'
        cpus = 2
        memory = 4.GB
        time = '1h'
    }
    withName:MULTIQC_AFTER {
        clusterOptions = '--account=asteen_1130'
        queue = 'main'
        cpus = 4
        memory = 8.GB
        time = '1h'
    }
    withName:TRIMMOMATIC {
        clusterOptions = '--account=asteen_1130'
        queue = 'main'
        cpus = 4
        memory = 16.GB
        time = '6h'
    }
    withName:SECOND_QC {
        clusterOptions = '--account=asteen_1130'
        queue = 'main'
        cpus = 4
        memory = 8.GB
        time = '1h'
    }
    withName:METASPADES {
        clusterOptions = '--account=asteen_1130'
        queue = 'main'
        cpus = 16
        memory = 16.GB
        time = '23h'
    }
    withName:METAQUAST {
        clusterOptions = '--account=asteen_1130'
        queue = 'main'
        cpus = 16
        memory = 16.GB
        time = '20h'
    }
    withName:METABAT2 {
        conda = "bioconda::metabat2=2.15"
        clusterOptions = '--account=asteen_1130'
        queue = 'main'
        cpus = 16
        memory = 20.GB
        time = '20h'
    }
}
