// executor and number of running jobs
executor {
    name = 'slurm'
}






// Process-specific configurations
process {
    withName:FIRST_QC {
       	clusterOptions = '--account=asteen_1130'
        queue = 'main'
        cpus = 32
        memory = 32.GB
        time = '2h'
        executor.queueSize = 10 // Allow up to 10 jobs for this process
    }
    withName:MULTIQC_BEFORE {
        clusterOptions = '--account=asteen_1130'
        queue = 'main'
        cpus = 4
        memory = 8.GB
        time = '1h'
        executor.queueSize = 1 // Allow up to 1 jobs for this process
    }
    withName:MULTIQC_AFTER {
        clusterOptions = '--account=asteen_1130'
        queue = 'main'
        cpus = 4
        memory = 8.GB
        time = '1h'
        executor.queueSize = 1 // Allow up to 1 jobs for this process
    }
    withName:TRIMMOMATIC {
        clusterOptions = '--account=asteen_1130'
         queue = 'main'
        cpus = 64
        memory = 64.GB
        time = '10h'
        executor.queueSize = 10 // Allow up to 10 jobs for this process
    }
    withName:SECOND_QC {
        clusterOptions = '--account=asteen_1130'
        queue = 'main'
        cpus = 32
        memory = 32.GB
        time = '3h'
        executor.queueSize = 40 // Allow up to 10 jobs for this process
    }
    withName:METASPADES {
        clusterOptions = '--account=asteen_1130'
        queue = 'largemem'
        cpus = 64
        memory = 900.GB
        time = '47h'
        executor.queueSize = 10 // Allow up to 5 jobs for this process
    }
    withName:MEGAHIT {
        clusterOptions = '--account=asteen_1130'
        queue = 'main'
        cpus = 32
        memory = 128.GB
        time = '47h'
        executor.queueSize = 20 // Allow up to 5 jobs for this process
    }
    withName:METAQUAST {
        clusterOptions = '--account=asteen_1130'
        queue = 'main'
        cpus = 64
        memory = 64.GB
        time = '20h'
        executor.queueSize = 10 // Allow up to 10 jobs for this process
    }

}

