// executor and number of running jobs
executor {
    name = 'slurm'
    queueSize = 5 // This limits the number of jobs submitted to SLURM at once
}



// all process configurations
process {
    errorStrategy = 'retry'
    maxRetries = 1
}



// Process-specific configurations
process {
    withName:FIRST_QC {
       	clusterOptions = '--account=asteen_1130'
        queue = 'main'
        cpus = 8
        memory = 32.GB
        time = '1h'
    }
    withName:MULTIQC {
        clusterOptions = '--account=asteen_1130'
        queue = 'debug'
        cpus = 8
        memory = 16.GB
        time = '1h'
    }    
    withName:TRIMMOMATIC {
        clusterOptions = '--account=asteen_1130'
         queue = 'main'
        cpus = 8
        memory = 16.GB
        time = '5h'
    }
    withName:SECOND_QC {
        clusterOptions = '--account=asteen_1130'
        queue = 'main'
        cpus = 8
        memory = 16.GB
        time = '1h'
    }
    withName:METASPADES {
        clusterOptions = '--account=asteen_1130'
        queue = 'main'
        cpus = 8
        memory = 16.GB
        time = '5h'
    }
    withName:METAQUAST {
        clusterOptions = '--account=asteen_1130'
        queue = 'main'
        cpus = 32
        memory = 16.GB
        time = '5h'
    }

}
